body {
    background-image: linear-gradient(to right, lightgreen, violet);
}

.header {
    text-align: center;
}

.form {
    text-align: center;
    font-size: 1.5em;
    margin-top: 50px;
}

.form>input {
    height: 25px;
}

.form>button {
    height: 25px;
}

.buttons {
    margin-top: 30px;
    text-align: center;
}

.done {
    text-align: center;
}

#numbers {
    display: block;
    font-size: 1.1em;
}

#admin {
    margin-top: 10px;
    text-align: center;
}

#admin>input {
    display: none;
}

button#login {
    display: none;
}
